
.top-nav {
  background: #383d41;
  margin: 0;
  padding: 0;
  width: 100%;
}
.top-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li{
    padding: 10px 15px;
    float: left;
    color: #ffffff;
    font-size: 14px;
    list-style: none;
  }

}
.top-list-right {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  float: right;

  li{
    padding: 10px 15px;
    float: left;
    color: floralwhite;
    font-size: 14px;
    list-style: none;
  }

}

.top-bar{
  color: #ffffff;

  span{
    color: lighten($primary, 30%);
    padding: 10px;
    border-bottom: lightgray;
    margin-right: 5px;
  }
  li{
    text-transform: uppercase;
  }
  a{
    color: #ffffff;
  }
  a:hover{
    color: $secondary;
  }
  a.current{
    color: $secondary;
    border-bottom: 2px solid $secondary;
  }

}

/* ShowCase */
.showcase {
  background: url('../img/server.jpg');
  min-height: 450px;
  color: #ffffff;

  .showcase-box {
    padding: 20px 30px;
    margin-top: 30px;
    background: $primary;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  p{
    border-bottom: 1px #ccc solid;
    padding-bottom: 10px;
  }
}

